html.custom-cursor-enabled body,
html.custom-cursor-enabled a,
html.custom-cursor-enabled button,
html.custom-cursor-enabled input,
html.custom-cursor-enabled select,
html.custom-cursor-enabled textarea {
  cursor: none;
}

#custom-cursor {
  display: none;
  width: 16px;
  height: 16px;
  border: 2px solid rgb(79, 70, 229);
  position: fixed;
  pointer-events: none;
  z-index: 9999;
  transition: border-color 0.3s, transform 0.1s;
  transform: translate(-50%, -50%);
}

html.custom-cursor-enabled #custom-cursor {
  display: block;
}

#custom-cursor.on-dark {
  border-color: rgb(163, 230, 53);
}

#custom-cursor.hover {
  transform: translate(-50%, -50%) scale(1.5);
}

@media (pointer: coarse) {
  html.custom-cursor-enabled body,
  html.custom-cursor-enabled a,
  html.custom-cursor-enabled button,
  html.custom-cursor-enabled input,
  html.custom-cursor-enabled select,
  html.custom-cursor-enabled textarea {
    cursor: auto;
  }

  #custom-cursor {
    display: none;
  }
}
